<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AirportDispatcher.Tests.Properties.Settings.AirportConnectionString"
            connectionString="Data Source=DESKTOP-MUH3OPA\SQLEXPRESS;Initial Catalog=Airport;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>